.unimoney-check {

  a.weui-navbar__item.weui-bar__item--on {
    border-bottom: solid 2px black;
  }

  .weui-navbar__item {
    padding: 6px 0;
  }

  .weui-search-bar {
    padding: 0px;
    margin: 0 16px;
    height: 35px;
  }

  .weui-search-bar__label {
    line-height: 35px;
  }

  .weui-search-bar__box {
    line-height: 35px;
  }

  .weui-search-bar__box .weui-icon-search {
    line-height: 35px;
  }

  .weui-search-bar__box .weui-icon-clear{
    line-height: 35px;
  }

  .weui-navbar + .weui-tab__bd {
    padding-top: 38px;
    background-color: #FAFAFA;
  }

  .weui-search-bar__label .weui-search-bar__form:after {
    border-radius: 5px;
  }

  .weui-search-bar__box .weui-search-bar__input {
    padding: 6px 0;
  }

  .row-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 10px;
  }

  .col-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .weui-cell__bd {
    font-size: 12px;
  }

  .weui-btn {
    line-height: 1.55;
    font-size: 12px;
  }

  .all-button {
    line-height: 3;
    font-size: 17px;
    margin: 0px 3.4%;
    width: 93%;
    top: 22%;
  }

  .check-all {
    position: fixed;
    bottom: 0em;
    width: 100%;
    height: 12%;
    background-color: #fafafa;
  }

  .total-desc {
    font-size: 16px;
    margin-left:1em;
    color:grey;

    span {
      color: black;
      font-weight: bold;
      font-size: 17px;
    }
  }

  .tooltip {
    font-size: 12px;
    padding: 5px;
    background-color: lavenderblush;
    height: 45px;
    margin-bottom: 8px;
    color: darkorange;
  }

  .weui-cell:before {
    left: 0px;
  }

  .top-distance {
    margin-top: 10px;
  }

  .weui-pull-to-refresh__layer {
    padding:4px;
  }

  .weui-pull-to-refresh {
    margin-top: -42px;
  }

  .weui-pull-to-refresh__layer {
    background-color: #fafafa
  }

  .weui-navbar {
    background-color: #fff;
  }

  .weui-tab__bd-item.weui-pull-to-refresh {
    position: relative;
    top: 12px;
  }

  .weui-tab__bd .weui-tab__bd-item {
    height: 106%;
  }

  .weui-btn_default {
    background-color: #FFFFFF;
  }

  .row-cell .mark {
    color: red;
  }
}

.weui-toptips.weui-toptips_visible {
  z-index:1000;
}

.toolbar .cancel-picker, .toolbar .picker-button{
  color: #3d4145;
}

.weui-dialog {
  border-radius: 8px;
}

.weui-dialog__bd {
  color: #100F0F;
}

.weui-dialog__btn {
  color: #000;
}

.weui-dialog__bd {
  text-align: left;
}
