.unimoney-verify-account {

  .table-border-bottom {
    border-bottom: 1px solid $ufs-orange-theme-color;
    margin: 0 1.6rem;
  }

  .table-border-top {
    border-top: 1px solid $ufs-orange-theme-color;
  }

  .table-border-left {
    border-left: 1px solid $ufs-orange-theme-color;
  }

  .table-border-right {
    border-right: 1px solid $ufs-orange-theme-color;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .table-title {
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.5rem;
    background-color: $ufs-orange-theme-color;
    color: white;
  }

  .table-item {
    font-size: 1.5rem;
  }

  a.weui-navbar__item.weui-bar__item--on {
    border-bottom: solid 0.2rem $ufs-orange-theme-color;
    color: $ufs-orange-theme-color;
  }

  .weui-navbar__item {
    padding: 0.6rem 0;
  }

  .weui-navbar + .weui-tab__bd {
    padding-top: 3.8rem;
    background-color: #FAFAFA;
  }

  .weui-tab__bd-item.weui-pull-to-refresh {
    position: relative;
  }

  .weui-navbar {
    background-color: #fff;
  }

  .weui-btn {
    line-height: 1.55;
    font-size: 1.2rem;
  }

  .bottom-button {
    line-height: 3;
    font-size: 1.8rem;
    background-color: $ufs-orange-theme-color;
    color: #fff;
  }

  .export-list {
    position: fixed;
    bottom: 1em;
    width: 93%;
    margin: 0px 3.4%;
    background-color: #fff;
    .weui-btn:after {
      border: 1px solid $ufs-orange-theme-color;
    }

    .weui-btn_disabled.weui-btn_default {
      color: white;
      background-color: #bdbdbd;
    }

    .weui-btn_disabled.weui-btn_default:after {
      border: 1px solid white;
    }
  }

  .total-desc {
    font-size: 1.6rem;
    margin-left:1em;
    color:grey;

    span {
      color: black;
      font-weight: bold;
      font-style: italic;
    }
  }

  .remark {
    margin: 0.5rem 4%;
    color: grey;
    font-size: 1.4rem;
    padding-bottom: 1em;
  }

  .table-border-bottom .mark {
    color: red;
  }
}

.weui-dialog__hd {
  text-align: left;
}

.weui-confirm .weui-dialog__bd {
  color: #999;
  text-align: left;
  font-size: 1.3rem;
  padding-left: 1em;
}

.weui-dialog .weui-dialog__btn.default {
  color: #000;
}

.weui-btn:after {
  border: 1px solid $ufs-orange-theme-color;
}

.weui-dialog {
  max-width: 33.1rem;
}

.table-border-top, .table-item {
  background-color: #fff;
}

.weui-search-bar__form {
  background-color: #fafafa;
}

.weui-search-bar:after {
  border-bottom: 0px solid #d7d6dc;
}

.weui-btn_default:not(.weui-btn_disabled):active {
  background-color: #FFC37B;
}

.weui-search-bar__box .weui-search-bar__input {
  font-size: 1.4rem;
}
