.distributor-management-business {
  margin-top: 2rem;
  height: 100%;
  background-color: #FAFAFA;

  .weui-search-bar {
    padding: 0px;
    margin: 0 1.6rem;
    height: 3.5rem;
  }

  .weui-search-bar__label {
    line-height: 3.2rem;
  }

  .weui-search-bar__box {
    line-height: 4rem;
  }

  .weui-search-bar__box .weui-icon-search {
    line-height: 3.7rem;
  }

  .weui-search-bar__box .weui-icon-clear{
    line-height: 3.7rem;
  }

  .weui-search-bar__label .weui-search-bar__form:after {
    border-radius: 0.5rem;
  }

  .weui-search-bar__box .weui-search-bar__input {
    padding: 0.6rem 0;
  }

  .total-desc {
    font-size: 1.6rem;
    margin-left:1em;
    color:grey;

    span {
      color: black;
      font-style: italic;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  .table-border-bottom {
    border-bottom: 1px solid $ufs-orange-theme-color;
    margin: 0 1.6rem;
  }

  .table-border-top {
    border-top: 1px solid $ufs-orange-theme-color;
  }

  .table-border-left {
    border-left: 1px solid $ufs-orange-theme-color;
  }

  .table-border-right {
    border-right: 1px solid $ufs-orange-theme-color;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .table-title {
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.5rem;
    background-color: $ufs-orange-theme-color;
    color: white;
  }

  .table-item {
    font-size: 1.5rem;
  }

  .table-border-bottom .mark {
    color: red;
  }
}

.weui-flex__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
